<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <swiper-container [pagination]="true" [autoplay]="true">
    <swiper-slide *ngFor="let image of images">
      <ion-img [src]="image" style="height: 200px; width: 100%; object-fit: cover !important;"></ion-img>
     </swiper-slide>
  </swiper-container>
  <div class="ion-text-center" style="margin-top: 10px;">
    <ion-button [routerLink]="['/login']" shape="round" color="danger">Login</ion-button>
 <ion-button [routerLink]="['/donner']" shape="round" color="danger">Donner List</ion-button>
  </div>

</ion-content>
