<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Donner</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar show-clear-button="focus" (ionChange)="handleChange($event)" (ionClear)="clear()"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
   <ion-select placeholder="Select Boold Group" (ionChange)="handleChange($event)" [(ngModel)]="booldGroup">
    <ion-select-option value="A+">A+</ion-select-option>
    <ion-select-option value="A-">A-</ion-select-option>
    <ion-select-option value="B+">B+</ion-select-option>
    <ion-select-option value="B-">B-</ion-select-option>
    <ion-select-option value="O+">O+</ion-select-option>
    <ion-select-option value="O-">O-</ion-select-option>
    <ion-select-option value="AB+">AB+</ion-select-option>
    <ion-select-option value="AB-">AB-</ion-select-option>
   </ion-select>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let item of allList">
    <div class="ion-text-center">
<ion-card-title >{{item.name}}</ion-card-title>
    </div>

    <ion-card-content>
      <p class="card-boold">Boold Group:  <span>{{item.booldGroup}}</span> </p>
      <p class="card-boold">Address: <span>{{item.address}}</span></p>
      <p class="card-boold">Age: <span>{{item.age}}</span></p>
    </ion-card-content>
  </ion-card>
  <p *ngIf="this.allList?.length === 0">No Data found</p>
</ion-content>
