<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="preview">
    <ion-avatar (click)="changeImage()">
      <img *ngIf="profile?.imageUrl; else placeholder_avatar;" [src]="profile.imageUrl" />
      <ng-template #placeholder_avatar>
        <div class="fallback">
          <p>Select avatar</p>
        </div>
      </ng-template>

    </ion-avatar>
   </div>
   <form>
    <ion-item fill="solid" class="ion-margin-bottom">
      <ion-label position="floating">Display Name</ion-label>
      <ion-input type="text"  [(ngModel)]="displayName" name="displayName"></ion-input>
    </ion-item>
    <ion-button type="button" (click)="updateDisplayName(displayName)">Save</ion-button>
   </form>
</ion-content>
