<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <form [formGroup]="credentials" (ngSubmit)="login()">
      <ion-item fill="solid" class="ion-margin-bottom">
        <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
        <!-- <ion-note slot="error" *ngIf="(email.dirty|| email.touched) email.errors">Email is invalid</ion-note> -->
        <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Email is invalid</ion-note>
      </ion-item>
      <ion-item lines="solid" class="ion-margin-bottom">
        <ion-input type="password" placeholder="password" formControlName="password"></ion-input>
        <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">Password is invalid</ion-note>
      </ion-item>
      <div class="ion-text-center">
        <ion-button type="submit" shape="round" [disabled]="!credentials.valid">login</ion-button>
      <ion-button type="button" shape="round" color="danger" [routerLink]="['/register']" >Register</ion-button>
      </div>

    </form>
  </ion-card>
  <div class="ion-text-right">
<a [routerLink]="['/']">Go to Home</a>
  </div>


</ion-content>
