<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Donner List</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/add-doneter']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let item of allList">
    <div class="ion-text-center">
<ion-card-title >{{item.name}}</ion-card-title>
    </div>

    <ion-card-content>
      <p class="card-boold">Boold Group:  <span>{{item.booldGroup}}</span> </p>
      <p class="card-boold">Address: <span>{{item.address}}</span></p>
      <p class="card-boold">Age: <span>{{item.age}}</span></p>
        <div class="ion-text-end">
          <!-- <ion-buttons> -->
            <ion-button [routerLink]="['/add-doneter', item.id]">
          <ion-icon size="large" slot="icon-only" name="create"></ion-icon>
        </ion-button>
          <!-- </ion-buttons> -->
        </div>


    </ion-card-content>
  </ion-card>
</ion-content>
