<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Dashboard</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="logout()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-text-center">
    <h2>Your Appointment</h2>
  </div>

 <ion-card *ngFor="let donner of donerList">
  <div class="ion-text-center">
    <ion-card-title >{{donner.name}}</ion-card-title>
    <ion-card-subtitle> Appointment: {{donner.appointment}}</ion-card-subtitle>
        </div>

        <ion-card-content>
          <p class="card-boold">Boold Group:  <span>{{donner.booldGroup}}</span> </p>
          <p class="card-boold">Address: <span>{{donner.address}}</span></p>
          <p class="card-boold">Age: <span>{{donner.age}}</span></p>




        </ion-card-content>
 </ion-card>
</ion-content>
